.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items vertically centered */
  padding: 10px 20px;
}

.navbar-brand a {
  padding-left: 50px;
  font-size: 1.5em;
  color: white;
  text-decoration: none;
}

.navbar-links {
  display: inline-flex;
  gap: 20px;
  align-items: center; 
  padding-right: 90px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: crimson;
}

.navbar-text a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-text a:hover {
  background-color: white;
  color: #333;
}
